<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="delo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="delo.Properties.Settings.deloConnectionString" connectionString="Data Source=server\server;Initial Catalog=delo;User ID=admin;Password=123qwerty098"
            providerName="System.Data.SqlClient" />
        <add name="delo.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=192.168.20.3;Password=558883168;User ID=saltanatk;Initial Catalog=Zarplata2010;Connect Timeout=0;General Timeout=0"
            providerName="System.Data.OleDb" />
        <add name="deloConnectionString" connectionString="" />
        <add name="delo.Properties.Settings.ConnectionString1" connectionString="Data Source=192.168.20.173;Initial Catalog=Buh2017;User ID=madina;Password=930742"
            providerName="System.Data.SqlClient" />
        <add name="server\server_deloConnection" connectionString="XpoProvider=MSSqlServer;data source=server\server;user id=admin;password=123qwerty098;initial catalog=delo;Persist Security Info=true" />
        <add name="delo.Properties.Settings.new_one_c" connectionString="Data Source=192.168.20.173;Initial Catalog=IFRSforSeverelectro;User ID=madina;Password=930742"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <delo.Properties.Settings>
            <setting name="UserNowName" serializeAs="String">
                <value />
            </setting>
            <setting name="strVvodSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="strVvodSetting1" serializeAs="String">
                <value />
            </setting>
        </delo.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
